@model List<ActiveProject>
@{
    ViewData["Title"] = "PastProjectRpt";
    Layout = "~/Views/Shared/_Layout-Reports.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Past Projects</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="/Report/Dashboard">Reports</a>
                        </li>
                        <li class="breadcrumb-item active">Project Reports</li>
                        <li class="breadcrumb-item active">Past Projects</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- search cards  -->
        <!-- #END# search cards  -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Past Project Report</strong>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="tableExport" class="table-bordered display table table-hover table-checkable order-column m-t-20 width-per-100">
                                <thead>
                                    <tr>
                                        <th>Project No/Plan No</th>
                                        <th>Project Name</th>
                                        <th>Project Type</th>
                                        <th>Bid Date</th>
                                        <th>Arrival Date</th>
                                        <th>Addenda</th>
                                    </tr>
                                </thead>
                                <tbody class="active-table-body">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.ProjNumber)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ProjectName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ProjTypeIdString)</td>
                                            <td>@Html.DisplayFor(modelItem => item.BidDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ArrivalDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.AddendaCount)</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

