@model IEnumerable<ProjectInformation>
@{
    ViewData["Title"] = "Your Projects";
    Layout = "~/Views/Shared/_Layout-Member.cshtml";
}

@section dataTablesCss{
     <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
}
@section dataTablesJs{
     <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
}
@section DashBoardScripts{
    <script type="text/javascript">
        var jq = $.noConflict();
         function loadDataTables(){
              jq('.mTables').dataTable( {
                   "pageLength": 100
                     } );
              jq('.tTables').dataTable( {
                   "pageLength": 100
                     } );            
            setTimeout(function(){
                jq('.mTables').DataTable();
                jq('.tTables').DataTable();
            },1000);
        }
        jq(document).ready(function () {
            loadDataTables();
            //$("#txtEmail").first().focus();
            $("#txtSearchProj").change(function (e) {
                //$("#txtSearchProj").change(function () {
                //alert('1')
                var datasearch = $(this).val();
                var projType = "";
                //$("#txtName").val(emailId);
                if (datasearch != '') {
                    $.ajax({
                        url: '/StaffAccount/DashboardMemberSearch/',
                        type: 'POST',
                        data: { 'searchText': datasearch },
                        dataType: 'json',
                        //contentType: 'application/json',
                        success: function (response) {

                            if (response.length!=0) {
                                document.getElementById("alertMsg").textContent=""
                                var model = new Array();
                                model = response;
                                $("#pendingTblBody").html('');
                                $("#activeTblBody").html('');
                                $("#pastTblBody").html('');
                                var pendingRows = '';
                                var activeRows = '';
                                var pastRows = '';
                                var a = 0;

                                $.each(model, function (index, item) {


                                    //$.ajax({
                                    //    url: '/StaffAccount/GetProjectName/',
                                    //    type: 'POST',
                                    //    data: { 'searchText': item.ProjTypeId },
                                    //    dataType: 'json',
                                    //    async: false,
                                    //    //contentType: 'application/json',
                                    //    success: function (response) {
                                    //        projType = response;
                                    //    }
                                    //});
                                    //console.log(item);
                                    //var itemModel = new Array();
                                    //console.log(itemModel);
                                    //$.each(item, function(index,n){
                                    //    //item[index].val();

                                    //    if(item.n==null)
                                    //    {
                                    //                item.n = ''
                                    //                console.log('index=' + index + ': ' + item.n);
                                    //    }
                                    //    itemModel.push(item);

                                    //})
                                    //        console.log(item);

                                    if (item.ProjNumber == null) {
                                        item.ProjNumber = '';
                                    }

                                    if (item.LocCity == null) {
                                        item.LocCity = '';
                                    }
                                    if (item.Title == null) {
                                        item.Title = '';
                                    }
                                    if (item.LocState == null) {
                                        item.LocState = '';
                                    }
                                    if (item.CompleteDt == null) {
                                        item.CompleteDt = '';
                                    }
                                    if (item.ProjTypeId == null) {
                                        item.LocState = '';
                                    }
                                    //if (item.BidDt == null) {
                                    //    item.BidDt = '';
                                    //}
                                    if (item.TrackCount == null) {
                                        item.TrackCount = '';
                                    }
                                    if (item.BidCount == null) {
                                        item.BidCount = '';
                                    }
                                    else {
                                        var date = new Date(item.BidDt);
                                        var year = date.getFullYear();

                                        var month = (1 + date.getMonth()).toString();
                                        month = month.length > 1 ? month : '0' + month;

                                        var day = date.getDate().toString();
                                        day = day.length > 1 ? day : '0' + day;
                                        item.BidDt = month + '/' + day + '/' + year;
                                    }
                                    if (item.ArrivalDt == null) {
                                        item.ArrivalDt = '';
                                    }
                                    else {
                                        var date = new Date(item.ArrivalDt);
                                        var year = date.getFullYear();

                                        var month = (1 + date.getMonth()).toString();
                                        month = month.length > 1 ? month : '0' + month;

                                        var day = date.getDate().toString();
                                        day = day.length > 1 ? day : '0' + day;
                                        item.ArrivalDt = month + '/' + day + '/' + year;
                                    }

                                    if (item.Publish == null) {
                                        item.Publish = false;
                                    }
                                    if (item.SpecsOnPlans == null) {
                                        item.SpecsOnPlans = false;
                                    }
                                    if (item.SpcChk == null) {
                                        item.SpcChk = false;
                                    }
                                    if(item.CompleteDt){
                                        item.CompleteDt = false;
                                    }
                                    var Cmemberid = item.CurrMemberId; 
                                                    var memberid = item.memberId;
                                   
                                    pendingRows += "<tr>"
                                        + "<td>" + item.ProjTypeIdString + "</td>"
                                        + "<td><a name='titleId' href = '/StaffAccount/Preview/" + item.ProjId + "'>" + item.Title + "</a></td>"
                                        + "<td>" + item.LocCity + "</td><td>" + item.LocState + "</td>"
                                        + "<td>" + item.BidDt + "</td><td>" + item.CompleteDt + "</td>"
                                        + "<td id='tdPlan'>" + item.BidCount + "</td>"
                                        + "<td id='tdSpc'>" + item.TrackCount + "</td>"
                                        + "<td id='tdPub'class='text-center'>" + item.ArrivalDt + "</td>"
                                        + "<td></td>"
                                        + "<td class='icon-td'><form method='post'target='_blank' action='/StaffAccount/Preview/"
                                        + item.ProjId + "'><button><i class='fa fa-eye' aria-hidden='true'></i></button>"
                                        + "</form><form method='post'action='/StaffAccount/Preview/" + item.ProjId + "'>"
                                        + "<button><i class='fa fa-pencil' aria-hidden='true'></i></button>"
                                        + "</form><button><i class='fa fa-trash'aria-hidden='true'></i></button></td></tr>";
                                        

                                    //    activeRows += "<tr><td><a name='nameId' href='/Common/ToMountedDrive?nameId='>" + item.ProjNumber + "</a></td><td><a name='titleId' href='/StaffAccount/Preview/" + item.ProjId + "'>" + item.Title + "</a></td><td>" + item.LocCity + "</td><td>" + item.LocState + "</td><td>" + item.ProjTypeId + "</td><td>" + item.BidDt + "</td><td id='tdPlan'>New plan</td><td id='tdSpc'>'" + item.AdSpacer + "'</td><td id='tdPub'class='text-center'><input id='chkPub_" + a + "' type='checkbox'value='" + item.ProjId + "' checked=" + item.Publish + "'></td><td>" + model[index]['ArrivalDt'] + "</td><td class='icon-td'><form method='post'target='_blank' action='/StaffAccount/Preview/" + item.ProjId + "'><button><i class='fa fa-eye' aria-hidden='true'></i></button><input name='__RequestVerificationToken' type='hidden' value='CfDJ8KB8QAnG-yxAt1lgO30hJ-ZM6gKdiyI7FlKey_rISQQaVb3YPC-SFSXdQlBulcfkCzwGMTqa3RLtqBXB8M6tMZ8cgp1bqeXxUTx2s05xJcx7nHLnzMh7ksz58t9qJJB1V9JvbBQ60Siop-EeQ6dqWbr8mAgKmUb2gphO_g5WoF5t_jvc3c6wh72M3G8sTzQz0g'></form><form method='post'action='/StaffAccount/Preview/" + item.ProjId + "'><button><i class='fa fa-pencil' aria-hidden='true'></i></button><input name='__RequestVerificationToken'type='hidden'value='CfDJ8KB8QAnG-yxAt1lgO30hJ-ZM6gKdiyI7FlKey_rISQQaVb3YPC-SFSXdQlBulcfkCzwGMTqa3RLtqBXB8M6tMZ8cgp1bqeXxUTx2s05xJcx7nHLnzMh7ksz58t9qJJB1V9JvbBQ60Siop-EeQ6dqWbr8mAgKmUb2gphO_g5WoF5t_jvc3c6wh72M3G8sTzQz0g'></form><button><i class='fa fa-trash'aria-hidden='true'></i></button></td></tr>";
                                    //    a++

                                    //pastRows += "<tr><td><a name='nameId' href='/Common/ToMountedDrive?nameId='>" + item.ProjNumber + "</a></td><td><a name='titleId' href='/StaffAccount/Preview/" + item.ProjId + "'>" + item.Title + "</a></td><td>" + item.LocCity + "</td><td>" + item.LocState + "</td><td>" + item.ProjTypeId + "</td><td>" + item.BidDt + "</td></tr>";

                                });
                                $("#pendingTblBody").html(pendingRows);
                                $("#activeTblBody").html(activeRows);
                                $("#pastTblBody").html(pastRows);

                            }
                            else {
                                $("#pendingTblBody").html('');
                                $("#activeTblBody").html('');
                                $("#pastTblBody").html('');
                                document.getElementById("alertMsg").textContent="Data is not available"
                                //alert("No project. Please try again.");
                                $("#txtSearchProj").focus();
                            }
                        }
                    });
                }

            });
        });
    </script>


    <script type="text/javascript">
        function ChangeSpecsOnPlans(i, e, arg) {
            var myString = arg;
            var lastChar = myString[myString.length - 1];
            var a = jQuery("#" + arg).parent('td').siblings().children('input[id^=chkSpc_]').is(':checked');
            if (i == true && a == true)
                jQuery("#" + arg).parent('td').siblings().children('input[id^=chkPub]').removeAttr("disabled");
            else {
                jQuery("#" + arg).parent('td').siblings().children('input[id^=chkPub]').attr("disabled", "disabled");
            }


        }
        function ChangeSpecsOrPlans(i, arg) {
            var myString = arg;
            var lastChar = myString[myString.length - 1];

            console.log("#" + arg)
            if (i == true)
                jQuery("#" + arg).parent('td').siblings().children('input[id^=chkPub]').removeAttr("disabled");
            else {
                jQuery("#" + arg).parent('td').siblings().children('input[id^=chkPub]').attr("disabled", "disabled");
            }
        }

        function ChangeSpc(i, e, arg) {
            var myString = arg;
            var lastChar = myString[myString.length - 1];
            var a = jQuery("#" + arg).parent('td').siblings().children('input[id^=chkPlan_]').is(':checked');
            if (i == true && a == true)
                jQuery("#" + arg).parent('td').siblings().children('input[id^=chkPub]').removeAttr("disabled");
            else {
                jQuery("#" + arg).parent('td').siblings().children('input[id^=chkPub]').attr("disabled", "disabled");
            }

        }
         function AddBidding(i, e, arg) {

            jQuery.ajax({
                url: '/StaffAccount/AddBidding/',
                data: { "ProjId": e },
                type: "POST",
                async: false,
                success: function (response) {
                    location.reload();
                },
                error: function (response) {
                    console.log(response.responseText);
                },
                failure: function (response) {
                    console.log(response.responseText);
                }
            });
        }
        function RemoveFromDashboard(i, e, arg) {

            jQuery.ajax({
                url: '/StaffAccount/RemoveFromDashboard/',
                data: { "ProjId": e },
                type: "POST",
                async: false,
                success: function (response) {
                    location.reload();
                },
                error: function (response) {
                    console.log(response.responseText);
                },
                failure: function (response) {
                    console.log(response.responseText);
                }
            });
        }
        getPagination('#table-id');

        function getPagination(table) {
            var lastPage = 1;

            $('#maxRows')
                .on('change', function (evt) {

                    lastPage = 1;
                    $('.pagination')
                        .find('li')
                        .slice(1, -1)
                        .remove();
                    var trnum = 0;
                    var maxRows = parseInt($(this).val());

                    if (maxRows == 200) {
                        $('.pagination').hide();
                    } else {
                        $('.pagination').show();
                    }

                    var totalRows = $(table + ' tbody tr').length;
                    $(table + ' tr:gt(0)').each(function () {

                        trnum++;
                        if (trnum > maxRows) {
                            // if tr number gt maxRows

                            $(this).hide(); // fade it out
                        }
                        if (trnum <= maxRows) {
                            $(this).show();
                        } // else fade in Important in case if it ..
                    }); //  was fade out to fade it in
                    if (totalRows > maxRows) {
                        // if tr total rows gt max rows option
                        var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
                        //	numbers of pages
                        for (var i = 1; i <= pagenum;) {
                            // for each page append pagination li
                            $('.pagination #prev')
                                .before(
                                    '<li data-page="' +
                                    i +
                                    '">\
                                                                              <span class="pagination-span">' +
                                    i++ +
                                    '<span class="sr-only">(current)</span></span>\
                                                                            </li>'
                                )
                                .show();
                        }
                    }
                    $('.pagination [data-page="1"]').addClass('active');
                    $('.pagination li').on('click', function (evt) {

                        evt.stopImmediatePropagation();
                        evt.preventDefault();
                        var pageNum = $(this).attr('data-page');

                        var maxRows = parseInt($('#maxRows').val());

                        if (pageNum == 'prev') {
                            if (lastPage == 1) {
                                return;
                            }
                            pageNum = --lastPage;
                        }
                        if (pageNum == 'next') {
                            if (lastPage == $('.pagination li').length - 2) {
                                return;
                            }
                            pageNum = ++lastPage;
                        }

                        lastPage = pageNum;
                        var trIndex = 0;
                        $('.pagination li').removeClass('active');
                        $('.pagination [data-page="' + lastPage + '"]').addClass('active');
                        limitPagging();
                        $(table + ' tr:gt(0)').each(function () {

                            trIndex++;
                            if (
                                trIndex > maxRows * pageNum ||
                                trIndex <= maxRows * pageNum - maxRows
                            ) {
                                $(this).hide();
                            } else {
                                $(this).show();
                            }
                        });
                    });
                    limitPagging();
                })
                .val(100)
                .change();
        }

        function limitPagging() {
            if ($('.pagination li').length > 7) {
                if ($('.pagination li.active').attr('data-page') <= 3) {
                    $('.pagination li:gt(5)').hide();
                    $('.pagination li:lt(5)').show();
                    $('.pagination [data-page="next"]').show();
                } if ($('.pagination li.active').attr('data-page') > 3) {
                    $('.pagination li:gt(0)').hide();
                    $('.pagination [data-page="next"]').show();
                    for (let i = (parseInt($('.pagination li.active').attr('data-page')) - 2); i <= (parseInt($('.pagination li.active').attr('data-page')) + 2); i++) {
                        $('.pagination [data-page="' + i + '"]').show();

                    }

                }
            }
        }

    </script>
}
@section PdfGenerationScripts{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://kit.fontawesome.com/bde2bd25f3.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $("body").on("click", "#print", function () {
            html2canvas($('#pdf')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("PHL.pdf");
                }
            });
        });

        $("body").on("click", "#printPHL", function () {
            html2canvas($('#pdf1')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("List.pdf");
                }
            });
        });

    </script>
    <script>

        function ListPdfContent(ProjId) {
            if (ProjId != '') {
                $.ajax({
                    url: '/StaffAccount/ListPdfContent/',
                    type: 'POST',
                    dataType: 'json',
                    data: {'ProjId':ProjId},
                    success: function (response) {
                        console.log(response);
                        $("#tblCompanyName").html('');
                        if (response != "" || response != null) {
                            var model = new Array();
                            model = response;
                            var ComHtml = '';
                        if(model.length==0)
                                $("#tblCompanyName").html('<p class="text-danger">No data available</p>');
                            else{for (i = 0; i < model.length; i++)
                            {
                                ComHtml += '<tr><td>' + model[i] + '</td></tr>'
                            }
                            $("#tblCompanyName").html(ComHtml);
                        }}
                        else{
                        $("#tblCompanyName").html('<p class="text-danger">No data available</p>');
                        }
                    
                    }
                    })
            }
        }

        function ListPdfContent1(ProjId) {
            if (ProjId != '') {
                $.ajax({
                    url: '/StaffAccount/ListPdfContent/',
                    type: 'POST',
                    dataType: 'json',
                    data: { 'ProjId': ProjId },
                    success: function (response) {
                        console.log(response);
                        $("#tblCompanyName1").html('');
                        if (response != "" || response != null) {
                            var model = new Array();
                            model = response;
                            var ComHtml = '';
                            if (model.length == 0)
                                $("#tblCompanyName1").html('<p class="text-danger">No data available</p>');
                            else {
                                for (i = 0; i < model.length; i++) {
                                    ComHtml += '<tr><td>' + model[i] + '</td></tr>'
                                }
                                $("#tblCompanyName1").html(ComHtml);
                            }
                        }
                        else {
                            $("#tblCompanyName1").html('<p class="text-danger">No data available</p>');
                        }

                    }
                })
            }
        }


        function AddToCalendar(ProjId,BidDate) 
        {
            
            var checkBox = document.getElementById("chkCalendar");
            var checked = checkBox.checked;
            
                $.ajax({
                    url: '/StaffAccount/AddToCalendar/',
                    type: 'POST',
                    dataType: 'json',
                    data: { 'ProjId': ProjId,BidDate :BidDate,Ischecked:checked},
                    success: function (response) {
                       console.log(response);
                    }
                })
            
           
        }

    </script>
     <script type="text/javascript">
        $("body").on("click", "#PrintAddenda", function () {
            html2canvas($('#Addendapdf')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("AddendaPdfFile.pdf");
                }
            });
        });

    </script>

    <script>

        function ListPdfAddenda(ProjId) {
            if (ProjId != '') {
                $.ajax({
                    url: '/StaffAccount/AddendaListPdfContent/',
                    type: 'POST',
                    dataType: 'json',
                    data: {'ProjId':ProjId},
                    success: function (response) {
                        console.log(response);
                        $("#tblAddendaFile").html('');
                        if (response != "" || response != null) {
                            var model = new Array();
                            model = response;
                            var ComHtml = '';
                        if(model.length==0)
                                $("#tblAddendaFile").html('<p class="text-danger">No data available</p>');
                            else{for (i = 0; i < model.length; i++)
                            {
                                ComHtml += '<tr><td>' + model[i] + '</td></tr>'
                            }
                                $("#tblAddendaFile").html(ComHtml);
                        }}
                        else{
                            $("#tblAddendaFile").html('<p class="text-danger">No data available</p>');
                        }
                    
                    }
                    })
            }
        }
    </script>
}
    @section CustomCSS{
    <style>
       
/*-----*/
    </style>
 }
    <div class="container">
        <div class="dashboard-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-heading">
                        <h2>Your Project Dashboard</h2>
                    </div>
                </div>
            </div>
           <div class="box-space">
            <div class="row">

                <div class="col-md-8">
                    <div class="formCls">
                        <div class="cusRow">
                            <div>
                                <label>Project Search</label>
                            </div>
                            <div>
                                <input type="" id="txtSearchProj" class="form-control" placeholder="">
                            </div>
                            <div>
                                <div class="btn-sec">
                                    <button type="" class="searchBtn">Search</button>
                                    <button type="" onClick="window.location.reload()" class="clearBtn">Clear</button>
                                    <label style="color:red" id="alertMsg" ></label>
                                </div>
                            </div>
                            @*<div class="col-md-3">
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                            <div class="btn-sec">
                            <button type="" class="searchBtn">Search</button>
                            <button type="" class="clearBtn">Clear</button>
                            </div>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="newPro-btn">
                        <form class="form" method="POST">
                            <input type="submit" asp-action="ProjectInformation" asp-controller="Project" class="newProbtn" value="New Project" />
                        </form>
                    </div>
                </div>
            </div>
           </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
@*----------*@
<div class="col-md-12">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left pending-btn" type="button" data-toggle="collapse" data-target="#pendingProjects" aria-expanded="true" aria-controls="collapseOne">
                        Your Posted Projects <i class="fa fa-chevron-right cus-chevron" aria-hidden="true" style="float: right;"></i>
                      </button>
                    </h2>
                  </div>
              
                  <div id="pendingProjects" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body pl-0 pr-0">
                         <div class="table-responsive box-space">
                           <table class="table table-bordered table-striped cusTable mTables" id="table-id">
                           <thead>
                             <tr>
                                <th>Project Type</th>
                                <th>Project Title</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Bid Date</th>
                                <th>DeadLine</th>
                                <th>Members Bidding</th>
                                <th>Members Tracking</th>
                                <th>Date Posted</th>
                                <th>Plan Holder List</th>
                                @*<th>Action</th>*@
                            </tr>
                           </thead>
                           <tbody id="pendingTblBody">
                                                    @{
                                                    int a = 1;
                                                }
                                                @foreach (var item in Model)
                                                {
                                                    int Cmemberid = item.CurrMemberId != null ? (int)item.CurrMemberId : 0;
                                                    int memberid = item.memberId != null ? (int)item.memberId : 0;
                                                    if (Cmemberid == memberid)
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(modelItem => item.ProjTypeIdString)</td>
                                                            <td><a asp-route-id="@item.ProjId" asp-action="Preview" asp-controller="StaffAccount" name="titleId">@item.Title</a></td>
                                                            <td>@Html.DisplayFor(modelItem => item.LocCity)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.LocState)</td>
                                                            <td>@(item.BidDt != null ? Convert.ToDateTime(item.BidDt).ToString("MM/dd/yyyy") : "")</td>
                                                            <td>@item.CompleteDt</td>
                                                            <td id="tdPlan"> @item.BidCount</td>
                                                            <td id="tdSpc">@item.TrackCount</td>
                                                            <td id="tdPub" class="text-center">@(item.ArrivalDt != null ? Convert.ToDateTime(item.ArrivalDt).ToString("MM/dd/yyyy") : "")</td>
                                                                
                                                            <td class="newPro-btn text-center">
                                                                    <a href="" class="table-btn" data-toggle="modal" data-target="#viewOrder-Modal3" onclick="ListPdfContent1(@item.ProjId)">
                                                                        <i class="fa-regular fa-eye" aria-hidden="true" style="font-size:14px;"></i>
                                                                    </a>
                                                                    <!-- Modal -->
                                                                    <div class="modal fade" id="viewOrder-Modal3" role="dialog">
                                                                        <div class="modal-dialog modal-lg">

                                                                            <!-- Modal content-->
                                                                            <div class="modal-content">
                                                                                <div class="modal-header cusModal-Header">
                                                                                    <h4 class="modal-title card-label font-weight-bold">Plan Holder List</h4>
                                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                </div>

                                                                                <div class="modal-body">
                                                                                    <div class="row px-0 mx-0" id="pdf">
                                                                                        <div class="table-responsive">
                                                                                            <table class="table table-bordered table-striped cusTable" id="table-id">
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th><b>Plan Holder List</b></th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody id="tblCompanyName1" class="text-left">
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="modal-footer newPro-btn">
                                                                                        <button type="button" id="print" class="modl-btn newProbtn">Print</button>
                                                                                    </div>
                                                                                </div>

                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            @*<td class="icon-td">
                                                                <form asp-action="Preview" asp-controller="StaffAccount" method="post" asp-route-id="@item.ProjId" target="_blank">
                                                                    <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                                                                </form>
                                                                <form asp-action="Edit" method="post" asp-controller="Project" asp-route-id="@item.ProjId">
                                                                    <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                                </form>
                                                                <button> <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                            </td>*@
                                                        </tr>
                                                    }
                                                    a++;
                                                
                                                }
                                            </tbody>
                         </table>
                         @* <div class='dataTables_paginate paging_simple_numbers pagination-container'>
                                            <nav>
                                                <ul class="pagination cus-pagi">

                                                    <li data-page="prev">
                                                        <span class="font-weight-bold"> Previous <span class="sr-only">(current)</span></span>
                                                    </li>
                                                    <!--	Here the JS Function Will Add the Rows -->
                                                    <li data-page="next" id="prev">
                                                        <span class="font-weight-bold"> Next <span class="sr-only">(current)</span></span>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>*@
                         </div>
                    
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="activeProject">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left collapsed pending-btn" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Tracked Projects <i class="fa fa-chevron-right cus-chevron" aria-hidden="true" style="float: right;"></i>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="activeProject" data-parent="#accordionExample">
                    <div class="card-body pl-0 pr-0">
                          <div class="table-responsive box-space">
                           <table class="table table-bordered table-striped cusTable tTables">
                           <thead>
                            <tr>
                                                    <th>Project Type</th>
                                                    <th>Project Title</th>
                                                    <th>Location</th>
                                                    <th>Bid Date</th>
                                                    <th>Deadline</th>
                                                    <th>Bidding?</th>
                                                    <th>Addenda</th>
                                                    <th>Plan Holder List</th>
                                                    <th>Add to Calendar</th>
                                                    <th>Remove From Dashboard</th>
                                                </tr>
                           </thead>
                             <tbody id="trackedTblBody">
                                                @foreach (var item in Model)
                                                {
                                                     bool MemTrack = item.MemberTrack != null ? (bool)item.MemberTrack : false;
                                                   

                                                    if(MemTrack)

                                                    {
                                                        <tr>

                                                            <td><a asp-route-nameId="@item.ProjNumber" asp-action="ToMountedDrive" asp-controller="Common" name="nameId">@item.ProjSubTypeIdString</a></td>
                                                            <td><a asp-route-id="@item.ProjId" asp-action="Preview" asp-controller="StaffAccount" name="titleId">@item.Title</a></td>
                                                            <td> @Html.DisplayFor(modelItem => item.LocCity)</td>
                                                            
                                                            <td>@(item.BidDt != null ? Convert.ToDateTime(item.BidDt).ToString("MM/dd/yyyy") : "")</td>
                                                            <td>@(item.BidDt != null ? item.strBidDt : "")</td>
                                                           <td class="text-center"><input id="chkPub" type="checkbox" value="@item.ProjId" checked="@item.BiddingStatus" onchange="AddBidding(this.checked, this.value, this.id)"></td>
                                                           @* <td id="tdPub" class="text-center">@Html.DisplayFor(modelItem => item.strAddenda)</td>*@

                                                                <td class="newPro-btn">
                                                                    <a href="" class="table-btn" data-toggle="modal" data-target="#viewOrder-Modal" onclick="ListPdfAddenda(@item.ProjId)">
                                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                                    </a>
                                                                    <!-- Modal -->
                                                                    <div class="modal fade" id="viewOrder-Modal" role="dialog">
                                                                        <div class="modal-dialog modal-lg">

                                                                            <!-- Modal content-->
                                                                            <div class="modal-content">
                                                                                <div class="modal-header cusModal-Header">
                                                                                    <h4 class="modal-title card-label font-weight-bold">Addenda Pdf File List</h4>
                                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                </div>

                                                                                <div class="modal-body">
                                                                                    <div class="row px-0 mx-0" id="Addendapdf">
                                                                                        <div class="table-responsive">
                                                                                            <table class="table table-bordered table-striped cusTable" id="table-id">
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th><b>Addenda File Name List</b></th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody id="tblAddendaFile" class="text-left">
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="modal-footer newPro-btn">
                                                                                        <button type="button" id="PrintAddenda" class="modl-btn newProbtn">Print</button>
                                                                                    </div>
                                                                                </div>

                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                    @* <td>Plan holder</td>*@
                                                                    <td class="newPro-btn">
                                                                        <a href="" class="table-btn" data-toggle="modal" data-target="#viewOrder-Modal2" onclick="ListPdfContent(@item.ProjId)">
                                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                                        </a>
                                                                        <!-- Modal -->
                                                                        <div class="modal fade" id="viewOrder-Modal2" role="dialog">
                                                                            <div class="modal-dialog modal-lg">

                                                                                <!-- Modal content-->
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header cusModal-Header">
                                                                                        <h4 class="modal-title card-label font-weight-bold">Plan Holder List</h4>
                                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                    </div>

                                                                                    <div class="modal-body">
                                                                                        <div class="row px-0 mx-0" id="pdf1">
                                                                                            <div class="table-responsive">
                                                                                                <table class="table table-bordered table-striped cusTable" id="table-id">
                                                                                                    <thead>
                                                                                                        <tr>
                                                                                                            <th><b>Plan Holder List</b></th>
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tbody id="tblCompanyName" class="text-left">
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="modal-footer newPro-btn">
                                                                                            <button type="button" id="printPHL" class="modl-btn newProbtn">Print</button>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </td>


                                                                <td><input id="chkCalendar" type="checkbox" onclick="AddToCalendar(@item.ProjId,'@item.BidDt')" checked="@item.chkCalendar"></td>
                                                            <td><input id="chkPub" type="checkbox" value="@item.ProjId" onchange="RemoveFromDashboard(this.checked, this.value, this.id)"></td>
                                                           @* <td class="icon-td">
                                                                <form asp-action="Preview" asp-controller="StaffAccount" method="post" asp-route-id="@item.ProjId" target="_blank">
                                                                    <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                                                                </form>
                                                                <form asp-action="Edit" method="post" asp-controller="Project" asp-route-id="@item.ProjId">
                                                                    <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                                </form>
                                                                <button> <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                            </td>*@
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                         </table>
                         </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>

@*-------------*@



                      @*  <div class="col-md-12">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs project-tabs justify-content-between" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#pending-p">Your Posted Projects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#active-p">Tracked Projects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#past-p">Past Projects</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="pending-p" class="container tab-pane active mx-0">
                                    <br>
                                    <div class="col-md-12">
                                        <div class="main-heading mb-0">
                                            <h2>Pending Projects</h2>
                                        </div>
                                        <div class="dataTables_length" id="DataTables_Table_1_length">
                                            <!--		Show Numbers Of Rows 		-->
                                            <label style="color:#000 !important">

                                                <select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" id="maxRows" style="display:none">
                                                    <option value="100">100</option>
                                                    <option value="200">200</option>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped cusTable mTables" id="table-id">
                                                <thead>
                                                    <tr>
                                                        <th>Project Type</th>
                                                        <th>Project Title</th>
                                                        <th>City</th>
                                                        <th>State</th>
                                                        <th>Bid Date</th>
                                                        <th>DeadLine</th>
                                                        <th>Members Bidding</th>
                                                        <th>Members Tracking</th>
                                                        <th>Date Posted</th>
                                                        <th>Plan Holder List</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="pendingTblBody">
                                                   
                                                @foreach (var item in Model)
                                                {
                                                    int Cmemberid = item.CurrMemberId != null ? (int)item.CurrMemberId : 0;
                                                    int memberid = item.memberId != null ? (int)item.memberId : 0;
                                                    if (Cmemberid == memberid)
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(modelItem => item.ProjTypeIdString)</td>
                                                            <td><a asp-route-id="@item.ProjId" asp-action="Edit" asp-controller="Project" name="titleId">@item.Title</a></td>
                                                            <td>@Html.DisplayFor(modelItem => item.LocCity)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.LocState)</td>
                                                            <td>@(item.BidDt != null ? Convert.ToDateTime(item.BidDt).ToString("MM/dd/yyyy") : "")</td>
                                                            <td>@item.CompleteDt</td>
                                                            <td id="tdPlan"> @item.BidCount</td>
                                                            <td id="tdSpc">@item.TrackCount</td>
                                                            <td id="tdPub" class="text-center">@(item.ArrivalDt != null ? Convert.ToDateTime(item.ArrivalDt).ToString("MM/dd/yyyy") : "")</td>
                                                            <td></td>
                                                            <td class="icon-td">
                                                                <form asp-action="Preview" asp-controller="StaffAccount" method="post" asp-route-id="@item.ProjId" target="_blank">
                                                                    <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                                                                </form>
                                                                <form asp-action="Edit" method="post" asp-controller="Project" asp-route-id="@item.ProjId">
                                                                    <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                                </form>
                                                                <button> <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                            </td>
                                                        </tr>
                                                    }
                                                    a++;
                                                }
                                                }
                                            </tbody>
                                        </table>
                                        <!--		Start Pagination -->
                                        <div class='dataTables_paginate paging_simple_numbers pagination-container d-none'>
                                            <nav>
                                                <ul class="pagination cus-pagi">

                                                    <li data-page="prev">
                                                        <span class="font-weight-bold"> Previous <span class="sr-only">(current)</span></span>
                                                    </li>
                                                    <!--	Here the JS Function Will Add the Rows -->
                                                    <li data-page="next" id="prev">
                                                        <span class="font-weight-bold"> Next <span class="sr-only">(current)</span></span>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="active-p" class="container tab-pane fade mx-0">
                                <br>
                                <div class="col-md-12">
                                    <div class="main-heading">
                                        <h2>Tracked Projects</h2>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped cusTable" id="table-id">
                                            <thead>
                                                <tr>
                                                    <th>Project Type</th>
                                                    <th>Project Title</th>
                                                    <th>Location</th>
                                                    <th>Bid Date</th>
                                                    <th>Deadline</th>
                                                    <th>Bidding?</th>
                                                    <th>Addenda</th>
                                                    <th>Plan Holder List</th>
                                                    <th>Add to Calendar</th>
                                                    <th>Remove From Dashboard</th>
                                                </tr>
                                            </thead>
                                            <tbody id="trackedTblBody">
                                                @foreach (var item in Model)
                                                {
                                                     bool MemTrack = item.MemberTrack != null ? (bool)item.MemberTrack : false;
                                                   

                                                    if(MemTrack)

                                                    {
                                                        <tr>

                                                            <td><a asp-route-nameId="@item.ProjNumber" asp-action="ToMountedDrive" asp-controller="Common" name="nameId">@item.ProjSubTypeIdString</a></td>
                                                            <td><a asp-route-id="@item.ProjId" asp-action="Edit" asp-controller="Project" name="titleId">@item.Title</a></td>
                                                            <td> @Html.DisplayFor(modelItem => item.LocCity)</td>
                                                            
                                                            <td>@(item.BidDt != null ? Convert.ToDateTime(item.BidDt).ToString("MM/dd/yyyy") : "")</td>
                                                            <td>@(item.BidDt != null ? Convert.ToDateTime(item.LastBidDt).ToString("MM/dd/yyyy") : "")</td>
                                                           <td class="text-center"><input id="chkPub" type="checkbox" value="@item.ProjId" checked="@item.BiddingStatus" onchange="AddBidding(this.checked, this.value, this.id)"></td>
                                                            <td id="tdPub" class="text-center">@Html.DisplayFor(modelItem => item.strAddenda)</td>
                                                           <td class="newPro-btn">
                                            <a href="" class="table-btn">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </a></td>
                                                            <td><input id="chkPub" type="checkbox" value="@item.ProjId"></td>
                                                            <td><input id="chkPub" type="checkbox" value="@item.ProjId" onchange="RemoveFromDashboard(this.checked, this.value, this.id)"></td>
                                                           <!--- <td class="icon-td">
                                                                <form asp-action="Preview" asp-controller="StaffAccount" method="post" asp-route-id="@item.ProjId" target="_blank">
                                                                    <button><i class="fa fa-eye" aria-hidden="true"></i></button>
                                                                </form>
                                                                <form asp-action="Edit" method="post" asp-controller="Project" asp-route-id="@item.ProjId">
                                                                    <button><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                                </form>
                                                                <button> <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                            </td>-->
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>*@





                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

